In [21]:
import pandas as pd
import random


columns_to_read = ["rideable_type",'start_station_name','end_station_name','started_at',"member_casual"]  # Replace with the actual column names

main_data= pd.read_csv("Combined_DataWeatherFinal.csv",usecols=columns_to_read)
main_data['started_at'] = pd.to_datetime(main_data['started_at'])

selected_records = pd.DataFrame()

grouped_data = main_data.groupby(main_data['started_at'].dt.month)

def select_random_records(group):
    return group.sample(n=3, random_state=42)

selected_records = grouped_data.apply(select_random_records)
selected_records.reset_index(drop=True, inplace=True)
print(selected_records)

    rideable_type          started_at             start_station_name  \
0    classic_bike 2022-01-27 14:21:01                5 Ave & E 63 St
1    classic_bike 2022-01-10 06:42:18             W 63 St & Broadway
2    classic_bike 2022-01-06 18:16:46             Broadway & W 29 St
3    classic_bike 2022-02-06 14:02:25                E 25 St & 2 Ave
4   electric_bike 2022-02-23 06:41:49            W 116 St & Broadway
5   electric_bike 2022-02-02 13:46:29                   3 St & 7 Ave
6   electric_bike 2022-03-12 14:42:39               W 43 St & 10 Ave
7   electric_bike 2022-03-28 17:21:29               W 20 St & 10 Ave
8   electric_bike 2022-03-27 11:05:13       Hancock St & Bedford Ave
9    classic_bike 2022-04-13 15:06:57          38 St & Northern Blvd
10   classic_bike 2022-04-23 10:40:25           William St & Pine St
11  electric_bike 2022-04-24 16:58:03                W 29 St & 9 Ave
12   classic_bike 2022-05-23 18:36:33      Clinton St & Joralemon St
13   classic_bike 2022-05-17 13:27:23                9 Ave & W 45 St
14   classic_bike 2022-05-06 07:34:05               W 4 St & 7 Ave S
15   classic_bike 2022-06-01 16:18:38                E 19 St & 3 Ave
16  electric_bike 2022-06-20 15:08:17        W 16 St & The High Line
17  electric_bike 2022-06-27 13:55:44         W 129 St & Convent Ave
18   classic_bike 2022-07-26 09:57:46       Stanton St & Chrystie St
19   classic_bike 2022-07-05 00:04:39                Ave A & E 11 St
20   classic_bike 2022-07-17 11:56:23            Broadway\t& W 48 St
21   classic_bike 2022-08-10 02:35:03  Washington St & Gansevoort St
22   classic_bike 2022-08-05 19:59:35            Vernon Blvd & 10 St
23   classic_bike 2022-08-23 22:04:34               3 Ave & E 169 St
24   classic_bike 2022-09-28 14:47:23                E 40 St & 5 Ave
25  electric_bike 2022-09-26 05:40:10                 21 St & 21 Ave
26   classic_bike 2022-09-25 14:32:08          E 35 St & Madison Ave
27   classic_bike 2022-10-02 19:16:57       E Tremont Ave & E 176 St
28   classic_bike 2022-10-21 16:26:16       Albany St & Greenwich St
29  electric_bike 2022-10-24 17:40:59               W 30 St & 10 Ave
30   classic_bike 2022-11-10 14:48:35                W 45 St & 8 Ave
31  electric_bike 2022-11-02 20:28:51               11 Ave & W 41 St
32   classic_bike 2022-11-17 09:06:29            Driggs Ave & N 9 St
33   classic_bike 2022-12-27 21:44:24           Vernon Blvd & 50 Ave
34   classic_bike 2022-12-15 09:57:16        E 39 St & Lexington Ave
35   classic_bike 2022-12-13 16:15:54                E 97 St & 3 Ave

                   end_station_name member_casual
0         Cathedral Pkwy & Broadway        member
1             E 53 St & Madison Ave        member
2                   5 Ave & E 29 St        casual
3                   1 Ave & E 18 St        member
4            E 106 St & Madison Ave        casual
5   West Drive & Prospect Park West        casual
6           E 39 St & Lexington Ave        member
7           E 53 St & Lexington Ave        casual
8         Schermerhorn St & Bond St        member
9              Crescent St & 35 Ave        member
10            Spruce St & Nassau St        member
11                 11 Ave & W 59 St        casual
12             Henry St & Degraw St        member
13                  W 42 St & 6 Ave        member
14                 W 30 St & 10 Ave        member
15                 W 15 St & 10 Ave        member
16                  W 30 St & 8 Ave        member
17         Lexington Ave & E 111 St        casual
18            Broadway & Battery Pl        member
19          Suffolk St & Stanton St        casual
20            E 56 St & Madison Ave        casual
21                 W 4 St & 7 Ave S        casual
22                 Broadway & 12 St        member
23                 3 Ave & E 169 St        member
24                  E 58 St & 3 Ave        member
25                   21 St & 23 Ave        member
26                  E 43 St & 2 Ave        casual
27      Anthony Ave & E Tremont Ave        member
28           West End Ave & W 60 St        member
29              Broadway\t& W 48 St        member
30         W 100 St & Manhattan Ave        member
31                  W 30 St & 8 Ave        member
32            Greene St & Prince St        member
33             Center Blvd & 51 Ave        member
34              Hudson St & W 13 St        member
35               E 40 St & Park Ave        member

In [22]:
selected_records.head(2)

,rideable_type,started_at,start_station_name,end_station_name,member_casual
0,classic_bike,2022-01-27 14:21:01,5 Ave & E 63 St,Cathedral Pkwy & Broadway,member
1,classic_bike,2022-01-10 06:42:18,W 63 St & Broadway,E 53 St & Madison Ave,member

In [23]:
random_indices = selected_records.sample(n=4).index

# Drop the rows with the selected indices
selected_records.drop(random_indices, inplace=True)

In [24]:
selected_records.shape

(32, 5)

In [25]:
selected_records.to_csv("Random32MainData.csv")