In [33]:
import pandas as pd

# Set the random seed to get consistent results
seed = 32

columns_to_read = ["rideable_type",'start_station_name','end_station_name','started_at',"member_casual"] 

# Load the main dataframe "df" (replace 'your_file_path.csv' with the actual path to your CSV file)
df = pd.read_csv("Combined_DataWeatherFinal.csv",usecols=columns_to_read)


sample_df = df.sample(frac=0.01, random_state=seed)

# Save the sample dataframe as a new CSV file in the working folder
sample_df.to_csv('Random32MainData.csv', index=False)

In [34]:
sample_df.head(2)

,rideable_type,started_at,start_station_name,end_station_name,member_casual
3307086,classic_bike,2022-11-05 11:33:01,Marcy Ave & Lafayette Ave,Marcy Ave & Lafayette Ave,member
6807757,classic_bike,2022-08-04 09:22:03,Frederick Douglass Blvd & W 117 St,5 Ave & W 126 St,member

In [35]:
sample_df.shape

(306899, 5)